html, body {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 5, 0, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#StartFrame {
    background-color: rgba(0, 5, 0, 0.98);
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    border: 2.5px solid black;
    box-sizing: border-box;
}

#MenuBar {
    padding: 10px;
    border-bottom: 2px solid #00ff41;
}

.Menu-Button{
    background: transparent;
    color: #00ff41;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
}

.Menu-Button:hover {
    background-color: #00ff41;
    color: #000000;
}